In [131]:
import pandas as pd
import numpy as np
from datetime import datetime,timezone
import time

In [184]:
df = pd.read_csv('Ethereum_train.csv')

In [185]:
def make_emotion_label(column_name):
    df['emotion'] = np.where(df[column_name] >= 0.5, 1 ,df[column_name])
    df['emotion'] = np.where((df[column_name] > -0.5) & (df[column_name] < 0.5) , 0 ,df['emotion'])
    df['emotion'] = np.where(df[column_name] <= -0.5, -1 ,df['emotion'])

In [186]:
make_emotion_label("vader")

In [187]:
df.drop(df.columns[0],axis=1,inplace=True)

In [188]:
df

,id,author,vader,title,created_utc,num_comments,score,emotion
0,ol7z7s,PeacockMamba,0.4588,New graphic for Ethereums upgrade path moving ...,1626403850,295,1,0.0
1,ol72kv,JMcMenemy,0.6124,Intrinsic Value Offering IVO uses smart contra...,1626400541,0,1,1.0
2,ol6jpc,twigwam,0.4588,OpenEthereum is on board for the London Upgrade,1626398609,2,1,0.0
3,ol5wir,hah_i_got_you,0.0000,Eth gas prices,1626396303,0,1,0.0
4,ol5cuz,Angel_4231,0.4588,Step ether up to bitcoin,1626394351,0,1,0.0
...,...,...,...,...,...,...,...,...
23969,n92e6j,Limitsofapproach,0.0000,Ledger or Trezor for ETH,1620646780,15,1,0.0
23970,n92bwv,BadgerTom,0.0000,PSA Not Your Keys Not Your Coins,1620646555,0,1,0.0
23971,n92ame,EVERWILDOUTDOORS,0.5023,Ethereum drives through but can it hold ground,1620646431,1,1,1.0
23972,n927r5,thumbsdrivesmecrazy,0.4019,Ethereum Smart Contracts A Beginners Guide,1620646139,0,1,0.0
23973,n91yx8,Mellusse,0.5994,Whats the most efficent way to buy Ethereum sp...,1620645255,0,1,1.0

In [189]:
df.sort_values(by = ['created_utc'],inplace=True)

In [190]:
def utc_to_local(utc_time):
    local_time = time.gmtime(utc_time)
    return f"{local_time[0]}-{local_time[1]}-{local_time[2]}"

In [191]:
df['created_utc'] = df['created_utc'].apply(utc_to_local)

In [192]:
df = df.rename(columns={'created_utc':'date_time'})

In [193]:
df.to_csv('./with_emotion/Ethereum.csv')

In [165]:
date_group = df.groupby(['date_time','emotion'])

In [168]:
date_group.size().reset_index(name='count')

       date_time  emotion  count
0     2019-12-31     -1.0      3
1     2019-12-31      0.0     19
2     2019-12-31      1.0      7
3       2020-1-1     -1.0      5
4       2020-1-1      0.0     38
...          ...      ...    ...
1965    2021-9-8      0.0     88
1966    2021-9-8      1.0     22
1967    2021-9-9     -1.0     11
1968    2021-9-9      0.0    100
1969    2021-9-9      1.0     24

[1970 rows x 3 columns]

In [68]:
price_data = pd.read_csv('../coin_price/BTC-USD.csv')

In [86]:
price_emotion_df = pd.concat([price_data,pd.Series(emotion.values).rename('emotion')],axis=1)

In [88]:
price_emotion_df.fillna(price_emotion_df['emotion'].mean())

,Date,Open,High,Low,Close,Volume,emotion
0,2019-12-31,7294.438965,7335.290039,7169.777832,7193.599121,21167946112,0.137931
1,2020-01-01,7194.892090,7254.330566,7174.944336,7200.174316,18565664997,0.000000
2,2020-01-02,7202.551270,7212.155273,6935.270020,6985.470215,20802083465,0.013699
3,2020-01-03,6984.428711,7413.715332,6914.996094,7344.884277,28111481032,0.071429
4,2020-01-04,7345.375488,7427.385742,7309.514160,7410.656738,18444271275,0.183673
...,...,...,...,...,...,...,...
662,2021-10-27,60352.000000,61435.183594,58208.187500,58482.386719,43657076893,0.116889
663,2021-10-28,58470.730469,62128.632812,58206.917969,60622.136719,45257083247,0.116889
664,2021-10-29,60624.871094,62927.609375,60329.964844,62227.964844,36856881767,0.116889
665,2021-10-30,62239.363281,62330.144531,60918.386719,61888.832031,32157938616,0.116889
666,2021-10-31,61850.488281,62406.171875,60074.328125,61318.957031,32241199927,0.116889